.r:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.r {
    display: block;
}
.t
{
    width: 32px;
    height: 32px;
    display: block;
    background: url("../../data/sprites.png") no-repeat;
    background-size: 1410px 768px;
    margin: 0;
    padding: 0;
    float: left;
}
.t.i{background-position: -828px -614px; }
.t.x{background-position: -880px -614px; }